bleach~=5.0.1
Flask~=2.2.2
Flask_DebugToolbar~=0.13.1
Flask_Redmail~=0.3.0
Flask_Reuploaded~=1.2.0
Flask_Toastr~=0.5.8
Flask_WTF~=1.0.1
matplotlib~=3.5.3
numpy~=1.23.4
pandas~=1.5.1
pdfkit~=1.0.0
preppy~=4.1.0
setuptools~=65.5.0
Werkzeug~=2.2.2
WTForms~=3.0.1
yagmail~=0.15.293
