{% extends "main.html" %}

{% block style %}
input[type="file" i] {
    font-size: 14px;
}
input[type="submit" i] {
    @include is-primary;
    background-color: transparent;
    border-color: transparent;
}
{% endblock %}

{% block content %}
<section class="section is-centered">
    <h2 class="title is-3" align="center">Upload Datapack</h2>
    <h3 class="subtitle is-3" align="center">Multiple File Uploads Allowed</h3>
<div align="center" class="box">
    <form action="/supplier/datapack" enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="field">
            <span> {{ field.label }}</span>
            <div class="control is-large">
                <span> {{ field }} </span>

            </div>
        </div>
        {% endfor %}
        <br>
        <div class="block" align="center">
            <button class="button is-primary">Submit</button>
        </div>
    </form>

</div>
{% endblock %}
