{% extends "main.html" %}

{% block style %}

.image.is-5by3 img {
position: sticky;
}

form {
    font-size: 16px;
    padding: 5px;
}

{% endblock %}

{% block content %}

<section class="section is-centered">
    <div align="center" class="container front-theme rssl-font">
        <div class="box">
            <figure class="image is-5by3 media-center" style="padding: 5%;">
                <img href="https://www.rssl.com/"
                     src="https://www.rssl.com/assets/images/rssl-logo.png" style="height:160px;width:300px;">
            </figure>
            <h3 align="center" class="title is-3">Welcome to the RSSL Supplier Portal</h3>
            <p align="center">
    <form enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="field">
            <span> {{ field.label }}</span>
            <div class="control">
                <span> {{ field }} </span>

            </div>
        </div>
        {% endfor %}
        <br>
        <div class="block" align="center">
            <button action="submit" class="button is-primary">Submit</button>
                <br>
                <br>
            </div>
</section>

{% endblock %}

