<!--- Flashes. Categories: Danger, Warning, Info, Success etc as Bootstrap5 --->
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-4 d-flex align-items-center justify-content-center alert alert-{{category}} alert-dismissible fade show"
         role="alert"><strong>{{ message }}</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
</div>
{% endfor %}
<!--- End Flashes --->