{% extends "report_base.html" %}

{% block content %}
<div class="report-header" align="center">
<h1 align="center" class="report-title">Supplier Questionnaire From {{ supplier }}</h1>
<h2 align="center" class="report-subtitle">Completed by: {{ email }}</h2>
<h2 align="center" class="report-subtitle">Completed on: {{ date }}</h2><br>
    </div>
<div align="center">
<table class="report">
        <tr>
        <th>Question</th>
        <th>Answer</th>
    </tr>
{% for question, answer in answer_dict.items() %}
    <tr>
        <td>{{ question }}</td>
        <td>{{ answer }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}

