{% extends "report_base.html" %}
{% block style %}

.review_box {
    width: 90%;
    border: 1px solid black;
    padding: 5px;
    align-items:center;
    justify-content:center;
}
.report_body {
    align-items: center;
    justify-content: center;
}
{% endblock %}


{% block content %}
<div class="report-header" align="center">
<h1 align="center" class="report-title">Supplier Assessment</h1>
<h2 align="center" class="report-subtitle">Supplier: {{ review_dict['company_name'] }}<br>Company Type: {{ review_dict['company_type'] }}</h2>
</div>
<br>
<div align="center">
	<div class="report report_body">
		<div class="review_box">
			Accreditation Held: {{ review_dict['held_accreditations'] }}<br>
			Expected Accreditation: {{ review_dict['expected_accreditations'] }}<br>
			Missing Accreditations: {{ review_dict['missing'] }}<br>
		</div>
		<br>
		<div class="review_box">
			Company Change Assessment: {{ review_dict['company_change_comment'] }}<br>
			Company Change Comment From Supplier:<br><span
				style="font-style: italic;">{{ review_dict['company_change_details'] }}</span><br>
		</div>
		<br>
		<div class="review_box">
			Accreditation Change Assessment: {{ review_dict['accreditation_change_comment'] }}<br>
			Accreditation Change Comment From Supplier:<br><span style="font-style: italic;">{{ review_dict['accreditation_change_details'] }}</span><br>
		</div>
		<br>
		<div class="review_box">
			Supplied Certification Assessment:<br>{{ review_dict['attachments_comment'] }}<br>
			{{ review_dict['attachments'] }}
		</div>
		<br>
		<div class="review_box">
			Review Summary:<br>
			Overall Review Score: {{ review_dict['score'] }}<br>
			Overall Rating: {{ review_dict['rating'] }}<br>
			Summary Of Review Comments: {{ review_dict['comments'] }}<br>
			Supplier Comments:<br><span style="font-style: italic;">{{ review_dict['supplier_comments'] }}</span>
		</div>
		<br>
		<div class="review_box">
			Actions:<br><b>
			    {{ review_dict['to_action'] }}
			    <input type="text" id="action-comments">
			    <label for="action-comments">Reviewer Comments:</label>
			    <input type="checkbox" id="action-tickbox">
			    <label for="action-tickbox">Confirm Reviewed</label>
		</div>
	</div>
</div>
{% endblock %}