{% extends "main.html" %}

{% block style %}
textarea {
width: 40%;
max-width: 25em;
min-height: 8em;
}
input {
width: 40%;
max-width: 25em;
}
input[type="submit" i] {
width: 8em;
height: 2em;
max-width: 150px;
}
select {
width: 75%;
max-width: 40em;
overflow-wrap: break-word;
}
.progbar {
width: 50%;
height: 5%;
padding: 15%;
}

{% endblock %}
{% block content %}
<section class="section is-centered">
    <h3 align="center" class="title is-3">Supplier Re-approval Form</h3>
    <div align="center" class="field">
        <div align="center" class="box">
            <form action="/supplier/form" method="POST" onsubmit="loading()" id="review_form">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="field">
                    <span> {{ field.label }}</span>
                    <div class="control is-large">
                        <span> {{ field }} </span>

                    </div>
                </div>
                {% endfor %}
                        <div class="block" align="center">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
            </form>
            <div hidden="hidden" id="submit_progress">
                    <h3 align="center" class="title is-3">Submitting Form...</h3>
            <progress class="progress is-danger" max="100" id="progbar">10%</progress>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block scripts %}

function loading() {
    var progressbar = document.getElementById("submit_progress");
    var form = document.getElementById("review_form");
    form.setAttribute("hidden", "hidden");
    progressbar.removeAttribute("hidden");

}

{% endblock %}
