{% extends "main.html" %}

{% block style %}
textarea {
width: 50%;
max-width: 450px;
}
input {
width: 50%;
max-width: 450px;
}
input[type="submit" i] {
width: 20%;
height: 10%;
max-width: 150px;
}
select {
width: 85%;
max-width: 450px;
overflow-wrap: break-word;
}

{% endblock %}
{% block content %}
<section class="section is-centered">
    <h3 align="center" class="title is-3">Supplier Re-approval Form</h3>
    <div align="center" class="field">
        <div align="center" class="box">
            <form action="/supplier/form" method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="field">
                    <span> {{ field.label }}</span>
                    <div class="control is-large">
                        <span> {{ field }} </span>

                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</section>
{% endblock %}
