<html>
<head>
</head>
<style>
	body {
	font-family:Calibri;
	background-color:FloralWhite;
	text-align:center;
	align-items:center
}
.review_box {
	border: 1px solid black;
	padding:5px;
	}



</style>
<body>
<h1 align="center">Supplier Assessment</h1>
<h4 align="center">Supplier: {{ review_dict['company_name'] }}<br>Company Type: {{ review_dict['company_type'] }}</h4>
<br>
<div align="center">
	<div style="width:50%;">
		<div class="review_box">
			Accreditation Held: {{ review_dict['held_accreditations'] }}<br>
			Expected Accreditation: {{ review_dict['expected_accreditations'] }}<br>
			Missing Accreditations: {{ review_dict['missing'] }}<br>
		</div>
		<br>
		<div class="review_box">
			Company Change Assessment: {{ review_dict['company_change_comment'] }}<br>
			Company Change Comment From Supplier:<br><span
				style="font-style: italic;">{{ review_dict['company_change_details'] }}</span><br>
		</div>
		<br>
		<div class="review_box">
			Accreditation Change Assessment: {{ review_dict['accreditation_change_comment'] }}<br>
			Accreditation Change Comment From Supplier:<br><span style="font-style: italic;">{{ review_dict['accreditation_change_details'] }}</span><br>
		</div>
		<br>
		<div class="review_box">
			Supplied Certification Assessment:<br>{{ review_dict['attachments_comment'] }}<br>
			<span style="font-style: italic;">
        {{ review_dict['attachments'] }}</span><br>
		</div>
		<br>
		<div class="review_box">
			Review Summary:<br>
			Overall Review Score: {{ review_dict['score'] }}<br>
			Overall Rating: {{ review_dict['rating'] }}<br>
			Summary Of Review Comments: {{ review_dict['comments'] }}<br>
			Supplier Comments:<br><span style="font-style: italic;">{{ review_dict['supplier_comments'] }}</span>
		</div>
		<br>
		<div class="review_box">
			Actions:<br><b>{{ review_dict['to_action'] }}</b>
		</div>
	</div>
</div>
</body>
</html>