{% extends "main.html" %}

{% block content %}


<div class="pure-g" style="padding-left: 25px; padding-top: 25px;">
    <div class="pure-u">
    <p><b>Reading Scientific Services Ltd.</b></p>
    <p class="">Reading Science Centre<br>Whiteknights Campus<br>Pepper Lane<br>Reading<br>Berkshire<br>RG6 6LA</p>
    <p class=""><b>Website: </b><a class="" href="https://www.rssl.com">https://www.rssl.com</a><br>
        <b>Switchboard:</b> +44 (0)118 918 4000<br>
        <b>Customer Services:</b> +44 (0)118 918 4076 or <a class=""
                                                            href="mailto:enquiries@rssl.com">enquiries@rssl.com</a><br>
        <b>Live Chat: </b><a class="" href="https://direct.lc.chat/9199415/">https://direct.lc.chat/9199415/</a><br>
        <b>Shipping:</b> <a class="" href="mailto:shipping@rssl.com">shipping@rssl.com</a>
    </p>
</div>
</div>
{% endblock %}