{% extends "main.html" %}

{% block content %}

<main class="front-theme rssl-font">
        <div class="container-fluid front-theme">
                        <div class="col-12">
            <div class="row row-cols-1 p-5 ">
                       <p class="col fs-5 text-center">Thank you for completing the supplier review process.</p>
                        <p class="col fs-6 text-center">Your submission has been received and if any further information is required<br>
                            RSSL will contact you.<br>
                            If you have any questions, please contact:<br>
                <a href="mailto:quality@rssl.com" class="link-dark">quality@rssl.com</a><br>
                        </p>
                    </div>
                            </div>
        </div>
</main>
{% endblock %}