<nav aria-label="main navigation" class="navbar is-fixed-top is-primary" role="navigation">
    <div class="navbar-brand">
        <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="mob-navbar" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu is-hidden-mobile"
         style="text-color: white; background-color: #00d1b2; font-size: 14px">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}"> RSSL Supplier Review Portal </a>
            <a class="navbar-item" href="https://www.rssl.com"> RSSL Website </a>
            <a class="navbar-item" href="{{ url_for('contact') }}"> Contact Us </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <div>
                        <a class="button is-primary is-outlined" href="{{ url_for('login') }}">Login - TEMP ADMIN
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-menu is-hidden-desktop is-size-4" id="mob-navbar"
         style="text-color: white; background-color: #00d1b2;">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Menu</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ url_for('index') }}"> RSSL Supplier Review
                        Portal </a>
                    <a class="navbar-item" href="https://www.rssl.com"> RSSL Website </a>
                    <a class="navbar-item" href="{{ url_for('contact') }}"> Contact Us </a>
                </div>
            </div>
        </div>
    </div>
</nav>