{% extends "main.html" %}

{% block content %}

<main class="front-theme rssl-font">
        <div class="container-fluid front-theme">
            <div class="column-fluid">
                <div class="row p-5">

                    <div class="p-5 d-flex justify-content-center">
    <div class="row d-flex align-items-center justify-content-center">
        <h2>Testing Form Summary - Test of data sent via form/redirect.</h2>
        <h3>Data is Question:Response to be submitted.</h3>
        <h3>Page will not be used in future, route to be replaced.</h3>
        <h3>This data will be processed and written to db. Responses then processed and emailed to account manager.</h3>
      <h4>Supplier ID: {{ supplier_review_id }}</h4>
      <h4>Responses:</h4>
      <p>
        {% for (a, b) in responses.items() %}
        {{ a }} : {{ b }} <br>
        {% endfor %}
      </p>
<a class="btn btn-outline-secondary" href="{{ url_for('index') }}" type="button">OK.</a>
    </div>
</div>
                    </div>
                </div>
            </div>
</main>
{% endblock %}