{% extends "home/main.html" %}

{% block style %}
label {
    font-size: 20px;
}
input {
    @include input
}
{% endblock %}
{% block content %}

<section class="section is-centered">
    <div align="center" class="container front-theme rssl-font">
        <div class="box">
            <div class="field">
    <form enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="field">
            <span> {{ field.label }}</span>
            <br>
            <div class="control is-large">
                <span> {{ field }} </span>

            </div>
        </div>
        {% endfor %}
        <br>
        <div class="block" align="center">
            <button action="submit" class="button is-primary">Submit</button>
                <br>
                <br>
            </div>
</section>

{% endblock %}